<div class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <h1><%= @survey.name %></h1>
      <p><%= @survey.description %></p>
      <%= link_to 'Edit', edit_survey_path(@survey), class: 'pure-button' %>
    </div>
  </div>
  <div class="content pure-u-1 pure-u-md-3-4">
    <p id="notice"><%= notice %></p>
    <div class="pure-form">
      <div class="responsive-table">
        <table>
          <thead>
            <tr>
              <% @survey.fields.order(:created_at).pluck("fields.name, fields.options ->> 'required'").each do |name, required| %>
                <th><%= '*' if required == 'true' %><%= name %></th>
              <% end %>
              <th></th>
            </tr>
          </thead>
          <tbody id="participations">
            <% @survey.participations.order(:created_at).each do |participation| %>
              <%= render 'participation', participation: participation %>
            <% end %>
          </tbody>
          <tfoot>
            <tr id="participation-form">
              <%= render 'participation_form', participation: @participation, survey: @survey %>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
